<div class="breadcrumb mb-5">
  <div class="page-title">
    <img [src]="direction === 'rtl' ? '/assets/icons/forward-arrow.svg' : '/assets/icons/back-arrow.svg'" alt="Back Button" />
    <h4>{{ deviceDetails?.name || ('devices.device_details.device_name' | translate) }}</h4>
  </div>
  <span>{{ 'devices.device_details.review_details' | translate }}</span>
</div>

<div class="device-data">

  <div class="img"><img [src]="deviceDetails?.imagePath || '/assets/images/device.png'" alt="Device Image"/></div>
  <div class="device-info">
    <div class="device-name">{{ deviceDetails?.name || ('devices.device_details.device_name' | translate) }}</div>

    <div class="info">
      <img class="icon " src="/assets/icons/status.svg" />
      <span class="info-name">{{ 'devices.status' | translate }}:</span>
      <span class="info-value"> {{ deviceDetails?.active ? ('devices.active' | translate) : ('devices.not_active' | translate) }}</span>
    </div>
    <div class="info">
      <img class="icon" src="/assets/icons/device.svg" />
      <span class="info-name">{{ 'devices.device_type' | translate }}:</span>
      <span class="info-value">{{ deviceDetails?.deviceTypeName || ('devices.device_details.type_name' | translate) }}</span>
    </div>
    <div class="info">
      <img class="icon " src="/assets/icons/mac-address.svg" />
      <span class="info-name">{{ 'devices.mac_address' | translate }}:</span>
      <span class="info-value">{{ deviceDetails?.macAddress || ('devices.device_details.mac_address' | translate) }}</span>
    </div>
  </div>
  
  </div>


<div class="device-trafic-section mt-4">
  <div class="grid-header">
    <h5>{{ 'devices.device_traffic' | translate }}</h5>
    <div class="grid-header-btns">
      <button type="button" class="btn btn-outline-secondary me-2">{{ 'devices.recent' | translate }}</button>
      <button type="button" class="btn btn-outline-info"> <img src="/assets/icons/report.svg"class="me-1" />{{ 'devices.report' | translate }}</button>
    </div>
  </div>
  <dx-data-grid id="gridContainer"
                [dataSource]="dataSource"
                [remoteOperations]="false"
                [allowColumnReordering]="true"
                [rowAlternationEnabled]="false"
                [showBorders]="false"
                [width]="'100%'"
               >
    <!--<dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager [visible]="true"
               [showPageSizeSelector]="true"
               [allowedPageSizes]="[10, 25, 50, 100]"></dxo-pager>-->
    <dxo-search-panel [visible]="false"
                      [highlightCaseSensitive]="false"></dxo-search-panel>
   

    <dxi-column dataField="trafficType"
                [caption]="'devices.traffic_type' | translate"
                dataType="string"
                alignment="left"></dxi-column>
    <dxi-column [caption]="'devices.time' | translate"
                dataField="time"
                dataType="string"
                format="time"
                alignment="left"
                ></dxi-column>
    <dxi-column dataField="date" [caption]="'devices.date' | translate" dataType="date"></dxi-column>
    <dxi-column dataField="macAddress" [caption]="'devices.device_mac_address' | translate" dataType="string"></dxi-column>

    <dxi-column dataField="image" [caption]="'devices.image' | translate"  cellTemplate="imageCellTemplate"></dxi-column>

    <div *dxTemplate="let d of 'imageCellTemplate'">
 <img />
    </div>
  </dx-data-grid>
</div>
