.subscription-card {
  width: 224px;
  height: 280px;
  border-radius: 12px;
  border-width: 1px;
  border-radius: 12px;
  border: 1px solid #E1E1E1;
  padding: 8px;
  margin: 0px 14px 14px 0px;
}



.card {
  position: relative;
  width: 100%;
  height: 68%;
  border-radius: 12px;
  border: 1px solid #ccc;
  overflow: hidden;
}


.card-image {
  width: 100%;
  height: 100%;
  cursor:pointer;
}


.village-name {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  cursor: pointer;
}


.top-right-text {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.card-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  margin-bottom:4px;

  .info {
    margin-right: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #a3a3a3;
  }

  .info-value {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #101010;
  }

  .icon img{
    margin-right: 10px;
    border-width: 0.79px;
    color: #a3a3a3;
    width: 18px;
    height: 18px;
  }
}


/*BTNS*/

.page-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 14px
}

::ng-deep .dx-button-mode-contained {
  background-color: #007BE2 !important;
  color: #fff !important;
  border-radius: 8px !important;
  padding-top: 2px;
  padding-right: 16px;
  padding-bottom: 2px;
  padding-left: 16px;
  gap: 16px;
}


::ng-deep .dx-widget.dx-dropdownbutton.dx-dropdownbutton-has-arrow {
  border-radius: 8px !important;
  border-width: 1px;
  padding-top: 2px;
  padding-right: 16px;
  padding-bottom: 2px;
  padding-left: 16px;
  gap: 16px;
}
::ng-deep .dx-widget.dx-button.dx-button-mode-outlined.dx-button-normal.dx-button-has-text.dx-item.dx-buttongroup-item.dx-item-content.dx-buttongroup-item-content.dx-buttongroup-first-item.dx-buttongroup-last-item.dx-shape-standard.dx-dropdownbutton-action.dx-buttongroup-item-has-width{
    border-radius:8px!important;
}



/*----START POPUP STYLES----------*/
/*Image Uploader Styles*/

::ng-deep .dx-toolbar.dx-widget.dx-visibility-change-handler.dx-collection.dx-popup-title.dx-has-close-button {
  border-bottom: none !important;
}

::ng-deep .dx-widget.dx-button.dx-button-mode-contained.dx-button-normal.dx-button-has-text.dx-fileuploader-button {
  padding: 8px 0px !important;
  width: 93px !important;
  font-weight: bold !important;
  font-size: 12px !important;
}

::ng-deep .dx-fileuploader-input {
  display: none !important;
}

::ng-deep .dx-fileuploader-files-container {
  position: relative !important;
  bottom: 10px !important;
}

::ng-deep .dx-popup-wrapper > .dx-overlay-content {
  background: #FAFAFA !important;
}

::ng-deep .dx-fileuploader-wrapper {
  background: #fff !important;
}

.image-upload-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0px 0;
}

.thumbnail {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #ccc;
}

::ng-deep .dx-fileuploader-content {
  display: flex !important;
  flex-direction: row !important;
  align-items: end !important;
}



::ng-deep .dx-widget.dx-button.dx-button-mode-contained.dx-button-success.dx-button-has-text {
  width: 100% !important;
}


dx-form {
  margin-bottom: 24px !important;
}

::ng-deep .dx-texteditor.dx-editor-outlined {
  border-radius: 8px !important;
  height: 45px !important;
}

.validation-message {
  color: red;
  font-size: 13px;
  margin-top: 5px;
}

/*----END POPUP STYLES----------*/

