<div class="breadcrumb mb-5">
  <div class="page-title">
    <img src="/assets/icons/back-arrow.svg" alt="Back Button" tabindex="0" role="button" />
    <h4>{{ subscription?.customerName }}</h4>
  </div>
  <span>Review village details and information</span>
</div>

<div class="subscription-container mb-5">
  <div class="header">
    <div>
      <strong>Plan:</strong> {{ subscription?.subscriptionTypeName }}
    </div>
    <div>
      <strong>Payment:</strong> ${{ subscription?.paymentPerMonth }} <span class="subtext">/ per month</span>
    </div>
    <div>
      <strong>Total Payment:</strong> ${{ totalPayment }}
    </div>
    <div>
      <strong>Start:</strong> {{ subscription?.startDate }}
    </div>
    <div>
      <strong>End:</strong> {{ subscription?.endDate }}
    </div>
    <div class="actions">
      <button class="cancel">Cancel subscription</button>
      <button class="upgrade">Upgrade</button>
    </div>
  </div>

  <div class="usage-section">
    <div class="usage-card">
      <div>Admins</div>
      <div class="bar">
        <div class="progress" [style.width.%]="getProgress(subscription?.usedAdmins, subscription?.adminNumber)"></div>
      </div>
      <div>{{ subscription?.usedAdmins }} / {{ subscription?.adminNumber }}</div>
    </div>

    <div class="usage-card">
      <div>Devices</div>
      <div class="bar">
        <div class="progress" [style.width.%]="getProgress(subscription?.usedDevices, subscription?.deviceNumber)">
        </div>
      </div>
      <div>{{ subscription?.usedDevices }} / {{ subscription?.deviceNumber }}</div>
    </div>

    <div class="usage-card">
      <div>Cards</div>
      <div class="bar">
        <div class="progress" [style.width.%]="getProgress(subscription?.usedCards, subscription?.cardNumber)"></div>
      </div>
      <div>{{ subscription?.usedCards }} / {{ subscription?.cardNumber }}</div>
    </div>
  </div>
</div>

<!--SECTION TWO ------ SUBSCRIPTION DEVICES-->
<div class="devices-container">
  <div class="devices-header">
    <div class="title">
      <strong>Devices</strong> <span class="count">({{ subscription?.devices?.length }})</span>
    </div>
    <div class="actions">
      <dx-button class="button-info me-1" text="Create new Device" (onClick)="showAddDevicePopup()">
      </dx-button>
      <!--<a href="#" class="view-all">View All</a>-->
    </div>
  </div>

  <div class="devices-slider">
    <div class="col-lg-2 col-md-5 col-sm-4 col-12 col-xs-12 mx-lg-3 mx-md-2 mx-sm-1 mb-3 device-card"
         *ngFor="let device of subscription?.devices">
      <div class="card-header">
        <img [src]="device.imagePath" alt="Device Image" (click)="navigateToDetailsPage(device.id)" />
        <span class="device-name" (click)="navigateToDetailsPage(device.id)">{{device.name}}</span>
      </div>
      <div class="device-info">
        <div class="icon"><img src="/assets/icons/status.svg" /></div>
        <div class="info"> Status: </div>
        <div class="info-value" [ngClass]="device.active ? 'active' : 'inactive'">
          {{ device.active ? 'Active' : 'Not Active' }}
        </div>
      </div>
      <div class="device-info">
        <div class="icon"><img src="/assets/icons/mac-address.svg" /></div>
        <div class="info"> Mac Address: </div>
        <div class="info-value ">{{device.macAddress}}</div>
      </div>
      <div class="device-info">
        <div class="icon"><img src="/assets/icons/device-type.svg" /></div>
        <div class="info"> Device type: </div>
        <div class="info-value"> {{device.deviceTypeName}}</div>
      </div>
    </div>
  </div>

  <div *ngIf="subscription?.devices?.length === 0" class="empty-state">
    No devices found for this subscription.
  </div>

</div>





<!--ADD DEVICE POPUP-->
<dx-popup [width]="600" [height]="420" [showTitle]="true" title="Add New Device" [dragEnabled]="true"
          [hideOnOutsideClick]="true" [showCloseButton]="true" [(visible)]="popupVisible">
  <dx-form [formData]="deviceData" [colCount]="1" [labelLocation]="'top'">
    <dxi-item itemType="simple">
      <div class="image-upload-wrapper">
        <dx-file-uploader [selectButtonText]="'Choose File'" [labelText]="''" accept="image/*" uploadMode="useForm"
          (onValueChanged)="onImageChange($event)"></dx-file-uploader>
        <img *ngIf="deviceData.deviceImageUrl" [src]="deviceData.deviceImageUrl" alt="Device Preview"
             class="thumbnail" />
        <div *ngIf="imageValidationError" class="validation-message">
          {{ imageValidationError }}
        </div>
      </div>
    </dxi-item>

    <dxi-item dataField="deviceName" [editorOptions]="{ placeholder: 'Device name' }">
      <dxi-validation-rule type="required" message="Device name is required">
      </dxi-validation-rule>
      <dxo-label [visible]="false"> </dxo-label>
    </dxi-item>

    <dxi-item dataField="serial" [editorOptions]="{ placeholder: 'Serial' }">
      <dxi-validation-rule type="required" message="Serial is required">
      </dxi-validation-rule>
      <dxo-label [visible]="false"> </dxo-label>
    </dxi-item>

    <dxi-item dataField="macAddress" [editorOptions]="{ placeholder: 'Device MAC address' }">
      <dxi-validation-rule type="required" message="Device MAC address is required">
      </dxi-validation-rule>
      <dxi-validation-rule type="pattern" [pattern]="macAddressPattern"
                           message="MAC address must be in format: 00:1A:2B:3C:4D:5E or 00-1A-2B-3C-4D-5E">
      </dxi-validation-rule>
      <dxo-label [visible]="false"> </dxo-label>
    </dxi-item>

    <dxi-item dataField="siteId" editorType="dxSelectBox" [editorOptions]="{
          dataSource: sites,
          placeholder: 'Site',
          valueExpr: 'id',
          displayExpr: 'name'
        }">
      <dxo-label text="Site"></dxo-label>
      <dxi-validation-rule type="required" message="Site is required"></dxi-validation-rule>
      <dxo-label [visible]="false"> </dxo-label>
    </dxi-item>

    <dxi-item dataField="deviceType" editorType="dxSelectBox" [editorOptions]="{
         dataSource: deviceTypes,
         placeholder: 'Device type',
         valueExpr: 'id',
         displayExpr: 'name'
       }">
      <dxi-validation-rule type="required" message="Device type is required"></dxi-validation-rule>
      <dxo-label [visible]="false"> </dxo-label>
    </dxi-item>


    <!-- Subscription Template for showing image + name -->
    <div *dxTemplate="let data of 'subscriptionTemplate'">
      <div class="device-item">
        <img [src]="data.imagePath" alt="Device image" width="30" height="30" style="margin-right: 8px;" />
        <span>{{data.customerName}}</span>
      </div>
    </div>


  </dx-form>
  <dxi-item itemType="button">
    <dx-button text="Add Device" type="success" (onClick)="submitDevice()"></dx-button>
  </dxi-item>

</dx-popup>


<!--Device Traffic Section-->
<div class="device-trafic-section mt-4">
  <div class="grid-header">
    <h5>Device traffic</h5>
    <div class="grid-header-btns">
      <button type="button" class="btn btn-outline-secondary me-2">Recent</button>
      <button type="button" class="btn btn-outline-info"> <img src="/assets/icons/report.svg" class="me-1" />Report</button>
    </div>
  </div>
  <dx-data-grid id="gridContainer"
                [dataSource]="dataSource"
                [remoteOperations]="false"
                [allowColumnReordering]="true"
                [rowAlternationEnabled]="false"
                [showBorders]="false"
                [width]="'100%'">
    <!--<dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager [visible]="true"
               [showPageSizeSelector]="true"
               [allowedPageSizes]="[10, 25, 50, 100]"></dxo-pager>-->
    <dxo-search-panel [visible]="true"
                      [highlightCaseSensitive]="true"></dxo-search-panel>


    <dxi-column dataField="Traffic type"
                caption="TRAFFIC TYPE"
                dataType="string"
                alignment="left"></dxi-column>
    <dxi-column caption="TIME"
                dataField="Time"
                dataType="string"
                format="time"
                alignment="left"></dxi-column>
    <dxi-column dataField="DATE" dataType="date"></dxi-column>
    <dxi-column dataField="DeviceMacAddress" caption="DEVICE MAC ADDRESS" dataType="string"></dxi-column>

    <dxi-column dataField="image" caption="IMAGE" cellTemplate="imageCellTemplate"></dxi-column>

    <div *dxTemplate="let d of 'imageCellTemplate'">
      <img />
    </div>
  </dx-data-grid>
</div>
