.unit-details {
  padding: 20px;
  background: #f9f9f9;

  .top-section {
    display: flex;
    gap: 20px;
    //  background: white;
    border-radius: 10px;
    padding: 16px;
    // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

    .unit-info {
      display: flex;
      width: 50%;
      gap: 16px;
      background: #fff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
      border: 1px solid #e1e1e1;
      height: 210px;
      padding: 10px;
      border-radius: 12px;



      .unit-img {
        width: 120px;
        height: 120px;
        border-radius: 8px;
        width: 39%;
        height: auto;
        border-radius: 8px;
      }

      .icon-container {
        width: 12%;
      }

      .icon {
        width: 24px;
        height: 24px;
      }


      .unit-meta {
        width: 53%;

        .unit-name {
          color: #007bff;
          margin-bottom: 20px;
        }

        .info-line {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin: 0 0 14px 0;
          color: #555;
        }

        .info {
          width: 50%;
        }

        .value {
          font-weight: 400;
          font-size: 18px;
          color: #101010;
        }
      }
   }}

}



.page-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 14px
}


::ng-deep .dx-widget.dx-button.dx-button-mode-contained.dx-button-normal.dx-button-has-text.dx-fileuploader-button {
  padding: 8px 0px !important;
  width: 93px !important;
  font-weight: bold !important;
  font-size: 12px !important;
}

::ng-deep .dx-popup-wrapper > .dx-overlay-content {
  background: #FAFAFA !important;
}





::ng-deep .dx-widget.dx-button.dx-button-mode-contained.dx-button-success.dx-button-has-text {
  width: 100% !important;
}


dx-form {
  margin-bottom: 24px !important;
}

::ng-deep .dx-texteditor.dx-editor-outlined {
  border-radius: 8px !important;
  height: 45px !important;
}

.validation-message {
  color: red;
  font-size: 13px;
  margin-top: 5px;
}

::ng-deep .dx-button-mode-contained {
  background-color: #007BE2 !important;
  color: #fff !important;
  border-radius: 8px !important;
  padding-top: 2px;
  padding-right: 16px;
  padding-bottom: 2px;
  padding-left: 16px;
  gap: 16px;
}

::ng-deep .dx-widget.dx-button.dx-button-mode-contained.dx-button-success.dx-button-has-text {
  width: 100% !important;
}

/*----END POPUP STYLES------*/
