<div class="breadcrumb mb-5">
  <div class="page-title">
    <img src="/assets/icons/back-arrow.svg" alt="Back Button" />
    <h4>{{ unitDetails?.name || 'Unite Name' }}</h4>
  </div>
  <span>Review Unit details and information</span>
</div>

<div class="page-header">
  <dx-button  class="button-info me-1" text="Assign to Owner" (onClick)="openAssignToOwnerPopup()">
  </dx-button>

</div>
<!-- Assign owners POPUP-->
<dx-popup [width]="600"
          [height]="270"
          [showTitle]="true"
          title="Assign owner"
          [dragEnabled]="true"
          [hideOnOutsideClick]="false"
          [showCloseButton]="true"
          [(visible)]=" assignToOwner_popupVisible">
  <dx-form #subscriptionFormRef [formData]="formModel"
           [colCount]="1"
           [labelLocation]="'top'">

    <dxi-item dataField="ownerId" editorType="dxSelectBox"
              [editorOptions]="{
            dataSource: ownersList,
            placeholder: 'Select Owner',
            valueExpr: 'id',
            displayExpr: 'ownerName',
            itemTemplate: 'ownerTemplate',
            searchEnabled: true
          }">
      <dxi-validation-rule type="required" message="Owner is required"></dxi-validation-rule>
      <dxo-label text="Owner" [visible]="true"></dxo-label>
    </dxi-item>

    <!-- Owner Template -->
    <div *dxTemplate="let data of 'ownerTemplate'">
      <div class="device-item">
        <span>{{data.userName}}</span>
      </div>
    </div>



  </dx-form>
  <dxi-item itemType="button">
    <dx-button text="Assign to Owner" (onClick)="submitInits()"></dx-button>
  </dxi-item>

</dx-popup>-

<div class="unit-details">

  <!-- Top Section -->
  <div class="top-section">
    <!-- Left: Unit Info -->
    <div class="unit-info">
      <img class="unit-img" [src]="unitDetails.imagePath" alt="Unit" />
      <div class="unit-meta ms-2">
        <h3 class="unit-name">{{ unitDetails.name}}</h3>
        <div class="info-line"><div class="icon-container"><img class="icon" src="assets/icons/person.svg" /></div><span class="info"> Owner:</span><span class="value">{{unitDetails.owner?.userName  || 'un Assigned'}}</span></div>
        <div class="info-line"><div class="icon-container"><img class="icon" src="assets/icons/card-owner.svg" /></div><span class="info"> # of Cards:</span> <span class="value">{{ unitDetails.cardNumber }}</span></div>
      </div>
    </div>


  </div>


</div>

