<div class="breadcrumb mb-5">
  <div class="page-title">
    <img [src]="direction === 'rtl' ? '/assets/icons/forward-arrow.svg' : '/assets/icons/back-arrow.svg'" alt="Back Button" />
    <h4>{{ 'units.title' | translate }}</h4>
  </div>
  <span>{{ 'units.review_details' | translate }}</span>
</div>
<div class="page-header">
  <dx-drop-down-button [text]="'common.sort_by' | translate" [dropDownOptions]="{ width: 180 }" [items]="sortBy"
    (onItemClick)="onItemClick($event)"></dx-drop-down-button>
  <dx-button class="button-info me-1" [text]="'units.add_new' | translate" (onClick)="showAddUnitPopup()">
  </dx-button>
</div>

<!-- ADD UNIT POPUP-->
<dx-popup [width]="600" [height]="550" [showTitle]="true" [title]="'actions.add_new_unit' | translate" [dragEnabled]="true"
  [hideOnOutsideClick]="false" [showCloseButton]="true" [(visible)]="popupVisible" (onHiding)="onPopupHidden()">
  <dxi-item itemType="simple">
      <div class="image-upload-wrapper">
        <dx-file-uploader 
          [value]="fileUploaderValue"
          [selectButtonText]="'common.choose_file' | translate" 
          [labelText]="''" 
          accept="image/*" 
          uploadMode="useForm"
          (onValueChanged)="onImageChange($event)">
        </dx-file-uploader>

        <img *ngIf="unitsData.unitImageUrl" [src]="unitsData.unitImageUrl" alt="Device Preview" class="thumbnail" />
        <div *ngIf="imageValidationError" class="validation-message">
          {{ imageValidationError }}
        </div>
      </div>
    </dxi-item>
  <dx-form #unitFormRef [formData]="unitsData" [colCount]="1" [labelLocation]="'top'">
    <dxi-item dataField="Name" [editorOptions]="{ placeholder: 'forms.unit_name' | translate }">
      <dxi-validation-rule type="required" [message]="'validation.unit_name_required' | translate">
      </dxi-validation-rule>
      <dxo-label [visible]="false"> </dxo-label>
    </dxi-item>
    <dxi-item dataField="Number" [editorOptions]="{ placeholder: 'forms.unit_number' | translate }">
      <dxi-validation-rule type="required" [message]="'validation.unit_number_required' | translate">
      </dxi-validation-rule>
      <dxo-label [visible]="false"> </dxo-label>
    </dxi-item>
    <dxi-item dataField="Area" editorType="dxTextBox" [editorOptions]="{ placeholder: 'forms.area' | translate }">
      <dxi-validation-rule type="required" [message]="'validation.area_required' | translate"></dxi-validation-rule>
      <dxo-label [visible]="false"> </dxo-label>
    </dxi-item>>

    <dxi-item dataField="CardNumber" editorType="dxNumberBox"
      [editorOptions]="{ placeholder: 'forms.cards_number' | translate, min: 0 , showSpinButtons: true, showClearButton: true}">
      <dxi-validation-rule type="required" [message]="'validation.cards_number_required' | translate"></dxi-validation-rule>
      <dxo-label [visible]="false"></dxo-label>
    </dxi-item>

    <dxi-item dataField="AccessGroups" editorType="dxTagBox" [editorOptions]="{
      dataSource: accessGroups,
      placeholder: 'forms.access_group_name' | translate,
        displayExpr: 'name',
      valueExpr: 'id',
      showSelectionControls: true,
      searchEnabled: true
      }">
      <dxi-validation-rule type="required" [message]="'validation.access_group_required' | translate"></dxi-validation-rule>
      <dxo-label [text]="'forms.access_group_name' | translate" [visible]="true"></dxo-label>
    </dxi-item>



  </dx-form>
  <dxi-item itemType="button">
    <dx-button [text]="'actions.add_new_unit' | translate" type="success" (onClick)="submitInits()"></dx-button>
  </dxi-item>

</dx-popup>


<!--All Units-->
<div class="row">
  <div class="col-lg-2 col-md-5 col-sm-4 col-12 col-xs-12 subscription-card" *ngFor="let unit of unitsList">
    <div class="card mb-2">
      <img [src]="unit.imagePath" alt="Card Image" class="card-image" (click)="navigateToDetailsPage(unit.id)">
      <div class="village-name" (click)="navigateToDetailsPage(unit.id)">{{ unit.name }}</div>
    </div>

    <div class="card-info">
      <div class="icon"><img src="/assets/icons/subscription.svg" /></div>
      <div class="info"> Subscription: </div>
      <div class="info-value"> {{ unit.subscriptionId }}</div>
    </div>
    <div class="card-info">
      <div class="icon"><img src="/assets/icons/device.svg" /></div>
      <div class="info"> Devices: </div>
      <div class="info-value">{{ unit.number }}</div>
    </div>

  </div>
</div>
