<div class="breadcrumb mb-5">
  <div class="page-title">
    <img src="/assets/icons/back-arrow.svg" alt="Back Button" />
    <h4>Units</h4>
  </div>
  <span>Review all Units details and information</span>
</div>
<div class="page-header">
  <dx-drop-down-button text="Sort by"
                       [dropDownOptions]="{ width: 180 }"
                       [items]="sortBy"
                       (onItemClick)="onItemClick($event)"></dx-drop-down-button>
  <dx-button class="button-info me-1"
             text="Add new unit"
             (onClick)="showAddDevicePopup()">
  </dx-button>
</div>

<!-- ADD UNIT POPUP-->
<dx-popup [width]="600"
          [height]="550"
          [showTitle]="true"
          title="Add ew Device"
          [dragEnabled]="true"
          [hideOnOutsideClick]="false"
          [showCloseButton]="true"
          [(visible)]="popupVisible">
  <dx-form #subscriptionFormRef [formData]="UnitsData"
           [colCount]="1"
           [labelLocation]="'top'">
    <dxi-item itemType="simple">
      <div class="image-upload-wrapper">
        <dx-file-uploader [selectButtonText]="'Choose File'"
                          [labelText]="''"
                          accept="image/*"
                          uploadMode="useForm"
                          (onValueChanged)="onImageChange($event)"></dx-file-uploader>

        <img *ngIf="UnitsData.unitImageUrl"
             [src]="UnitsData.unitImageUrl"
             alt="Device Preview"
             class="thumbnail" />
        <div *ngIf="imageValidationError" class="validation-message">
          {{ imageValidationError }}
        </div>
      </div>
    </dxi-item>

    <dxi-item dataField="Name" [editorOptions]="{ placeholder: 'Unit name' }">
      <dxi-validation-rule type="required" message="Unit name is required">
      </dxi-validation-rule>
      <dxo-label [visible]="false"> </dxo-label>
    </dxi-item>
    <dxi-item dataField="Number" [editorOptions]="{ placeholder: 'Unit number' }">
      <dxi-validation-rule type="required" message="Unit number is required">
      </dxi-validation-rule>
      <dxo-label [visible]="false"> </dxo-label>
    </dxi-item>
    <dxi-item dataField="Area" editorType="dxSelectBox"
              [editorOptions]="{
            dataSource: areasList,
            placeholder: 'Select Area',
            valueExpr: 'id',
            displayExpr: 'name'
          }">
      <dxi-validation-rule type="required" message="Area is required"></dxi-validation-rule>
      <dxo-label [visible]="false"> </dxo-label>
    </dxi-item>

    <dxi-item dataField="CardNumber" editorType="dxNumberBox" 
              [editorOptions]="{ placeholder: 'Cards number', min: 0 , showSpinButtons: true, showClearButton: true}">
      <dxi-validation-rule type="required" message="Cards number is required"></dxi-validation-rule>
      <dxo-label [visible]="false"></dxo-label>
    </dxi-item>


    <dxi-item dataField="AccessGroupDevices" editorType="dxTagBox"
              [editorOptions]="{
            dataSource: availableDevices,
            displayExpr: 'name',
            valueExpr: 'id',
            placeholder: 'Select Devices',
            showClearButton: true
          }">
      <dxi-validation-rule type="required" message="Please select at least one device."></dxi-validation-rule>
      <dxo-label [visible]="false"> </dxo-label>
    </dxi-item>

  </dx-form>
  <dxi-item itemType="button">
    <dx-button text="Add new Unit" type="success" (onClick)="submitInits()"></dx-button>
  </dxi-item>

</dx-popup>


<!--All Units-->
<div class="row">
  <div class="col-lg-2 col-md-5 col-sm-4 col-12 col-xs-12 subscription-card" *ngFor="let sub of units">
    <div class="card mb-2">
      <img src="/assets/images/beach.jpg" alt="Card Image" class="card-image" (click)="navigateToDetailsPage()">
      <div class="village-name" (click)="navigateToDetailsPage()">Unit name</div>
    </div>

    <div class="card-info">
      <div class="icon"><img src="/assets/icons/subscription.svg" /></div>
      <div class="info"> Subscription: </div>
      <div class="info-value"> {{sub.subscription }}</div>
    </div>
    <div class="card-info">
      <div class="icon"><img src="/assets/icons/device.svg" /></div>
      <div class="info"> Devices: </div>
      <div class="info-value">{{sub.dvices}}</div>
    </div>

  </div>
</div>


