<div class="breadcrumb mb-5">
  <div class="page-title">
    <img src="/assets/icons/back-arrow.svg" alt="Back Button" />
    <h4>Devices <span class="devices-number">(2)</span></h4>
  </div>
  <span>Review all devices details and information</span>
</div>


<!-- GOUP DEVICES IF OWNER-->
<!--PAGE HEADER IF Owner-->
<div class="page-header">
  <dx-button class="button-info me-1"
             text="Group devices"
             >
  </dx-button>

  <dx-drop-down-button text="Sort by"
                       [dropDownOptions]="{ width: 180 }"
                       [items]="sortBy"
                       (onItemClick)="onItemClick($event)"></dx-drop-down-button>

</div>

<!-- GROUPED DEVICES VIEW -->
<!--<div class="row m-auto bg-white px-2 py-3 mb-5 group-devices">
  <div class="group-device-header">
    <h5 class="mb-3 group-name">Group name <span class="devices-number">(2)</span></h5>
    <dx-button class="button-info me-1"
               text="Assigned owners">
    </dx-button>
  </div>
  <div class="col-lg-2 col-md-5 col-sm-4 col-12 col-xs-12 mx-lg-3 mx-md-2 mx-sm-1 mb-3 device-card" *ngFor="let device of devicesList">
    <div class="card-header">
      <img [src]=" '/assets/images/device.png'" alt="Device Image" (click)="navigateToDetailsPage(device.id)" />-->
      <!--<img [src]="device.imagePath || '/assets/images/device.png'" alt="Device Image" (click)="navigateToDetailsPage()" />-->
      <!--<span class="device-name" (click)="navigateToDetailsPage(device.id)">{{device.name}}</span>
    </div>
    <div class="device-info">
      <div class="icon"><img src="/assets/icons/status.svg" /></div>
      <div class="info"> Status: </div>
      <div class="info-value" [ngClass]="device.active ? 'active' : 'inactive'">
        {{ device.active ? 'Active' : 'Not Active' }}
      </div>
    </div>
    <div class="device-info">
      <div class="icon"><img src="/assets/icons/mac-address.svg" /></div>
      <div class="info"> Mac Address: </div>
      <div class="info-value ">{{device.macAddress}}</div>
    </div>
    <div class="device-info">
      <div class="icon"><img src="/assets/icons/device-type.svg" /></div>
      <div class="info"> Device type: </div>
      <div class="info-value"> {{device.deviceType}}</div>
    </div>
  </div>
</div>-->






<!--PAGE HEADER IF ADMIN-->
<div class="page-header">
  <dx-button class="button-info me-1"
             text="Add Device"
             (onClick)="showAddDevicePopup()">
  </dx-button>


  <dx-drop-down-button text="Sort by"
                       [dropDownOptions]="{ width: 180 }"
                       [items]="sortBy"
                       (onItemClick)="onItemClick($event)"></dx-drop-down-button>

</div>


<!-- ADD DEVICE POPUP-->
<dx-popup [width]="600"
          [height]="420"
          [showTitle]="true"
          title="Add New Device"
          [dragEnabled]="true"
          [hideOnOutsideClick]="true"
          [showCloseButton]="true"
          [(visible)]="popupVisible">
  <dx-form [formData]="deviceData"
           [colCount]="1"
           [labelLocation]="'top'">
    <dxi-item itemType="simple">
      <div class="image-upload-wrapper">
        <dx-file-uploader [selectButtonText]="'Choose File'"
                          [labelText]="''"
                          accept="image/*"
                          uploadMode="useForm"
                          (onValueChanged)="onImageChange($event)"></dx-file-uploader>

        <img *ngIf="deviceData.deviceImageUrl"
             [src]="deviceData.deviceImageUrl"
             alt="Device Preview"
             class="thumbnail" />
        <div *ngIf="imageValidationError" class="validation-message">
          {{ imageValidationError }}
        </div>
      </div>
    </dxi-item>

    <dxi-item dataField="deviceName" [editorOptions]="{ placeholder: 'Device name' }">
      <dxi-validation-rule type="required" message="Device name is required">
      </dxi-validation-rule>
      <dxo-label [visible]="false"> </dxo-label>
    </dxi-item>
    <dxi-item dataField="macAddress" [editorOptions]="{ placeholder: 'Device MAC address' }">
      <dxi-validation-rule type="required" message="Device MAC address is required">
      </dxi-validation-rule>
      <dxo-label [visible]="false"> </dxo-label>
    </dxi-item>

    <dxi-item dataField="deviceType" editorType="dxSelectBox"
              [editorOptions]="{
         dataSource: deviceTypes,
         placeholder: 'Device type',
         valueExpr: 'id',
         displayExpr: 'name'
       }">
      <dxi-validation-rule type="required" message="Device type is required"></dxi-validation-rule>
      <dxo-label [visible]="false"> </dxo-label>
    </dxi-item>

   

  </dx-form>
  <dxi-item itemType="button">
    <dx-button text="Add Device" type="success" (onClick)="submitDevice()"></dx-button>
  </dxi-item>

</dx-popup>


<!--ALL DEVICES-->
<div class="row m-auto">
  <div class="col-lg-2 col-md-5 col-sm-4 col-12 col-xs-12 mx-lg-3 mx-md-2 mx-sm-1 mb-3 device-card" *ngFor="let device of devicesList">
    <div class="card-header">
      <img [src]=" '/assets/images/device.png'" alt="Device Image" (click)="navigateToDetailsPage(device.id)" />
      <!--<img [src]="device.imagePath || '/assets/images/device.png'" alt="Device Image" (click)="navigateToDetailsPage()" />-->
      <span class="device-name" (click)="navigateToDetailsPage(device.id)">{{device.name}}</span>
    </div>
    <div class="device-info">
      <div class="icon"><img src="/assets/icons/status.svg" /></div>
      <div class="info"> Status: </div>
      <div class="info-value" [ngClass]="device.active ? 'active' : 'inactive'">
        {{ device.active ? 'Active' : 'Not Active' }}
      </div>
    </div>
    <div class="device-info">
      <div class="icon"><img src="/assets/icons/mac-address.svg" /></div>
      <div class="info"> Mac Address: </div>
      <div class="info-value ">{{device.macAddress}}</div>
    </div>
    <div class="device-info">
      <div class="icon"><img src="/assets/icons/device-type.svg" /></div>
      <div class="info"> Device type: </div>
      <div class="info-value"> {{device.deviceType}}</div>
    </div>
  </div>
</div>
