<div class="breadcrumb">
  <div class="breadcrumb-content">
    <div class="page-title">
      <img [src]="direction === 'rtl' ? '/assets/icons/forward-arrow.svg' : '/assets/icons/back-arrow.svg'" alt="Back Button" />
      <h4>{{ 'devices.title' | translate }} <span class="devices-number">({{devicesList.length}})</span></h4>
    </div>
    <span class="breadcrumb-description">{{ 'devices.review_details' | translate }}</span>
  </div>
</div>

<!----------------------- If userRolr == 2  SubscriptionAdmin------------------------------------------>
<!-- GOUP DEVICES IF OWNER-->
<div class="page-header" *ngIf="userRole == 2">
  <div class="page-header-content">
    <dx-button class="button-info me-1" [text]="'devices.group_devices' | translate" (onClick)="openGroupDEvicesPopup()">
    </dx-button>

    <dx-drop-down-button [text]="'common.sort_by' | translate" [dropDownOptions]="{ width: 180 }" [items]="accessGroupSortBy"
      (onItemClick)="onAccessGroupItemClick($event)"></dx-drop-down-button>
  </div>
</div>

<!--GROUPED DEVICES VIEW-->
<div class="group-devices-container" *ngIf="userRole == 2">
  <div class="group-device-header">
    <h3>{{ 'access_groups.title' | translate }} ({{ accessGroups?.length }})</h3>
  </div>

  <div class="access-groups-grid">
    <div class="group-card" *ngFor="let group of accessGroups">
      <div class="group-header">
        <h5 class="group-name">{{ group.name }}</h5>
        <img src="/assets/images/device.png" alt="Group Icon">
      </div>
      <p class="device-count">{{ group.devicesCount || 0 }} {{ 'devices.title' | translate }}{{ group.devicesCount === 1 ? '' : 's' }}</p>

      <div class="btns-row">
        <dx-button [text]="'devices.title' | translate" stylingMode="outlined" type="default" class="view-btn"
          (onClick)="navigateToGroup(group.id)">
        </dx-button>
        <dx-button [text]="'owners.assigned_owners' | translate" stylingMode="contained" type="default" class="view-btn-2"
          (onClick)="navigateToAssignedOwners(group.id)">
        </dx-button>
      </div>
    </div>
  </div>

  <!--<div class="col-lg-2 col-md-5 col-sm-4 col-12 col-xs-12 mx-lg-3 mx-md-2 mx-sm-1 mb-3 device-card" *ngFor="let device of devicesList">
    <div class="card-header">
      <img [src]="device.imagePath || '/assets/images/device.png'" alt="Device Image" (click)="navigateToDetailsPage(device.id)" />
      <span class="device-name" (click)="navigateToDetailsPage(device.id)">{{device.name}}</span>
    </div>
    <div class="device-info">
      <div class="icon"><img src="/assets/icons/status.svg" /></div>
      <div class="info"> Status: </div>
      <div class="info-value" [ngClass]="device.active ? 'active' : 'inactive'">
        {{ device.active ? 'Active' : 'Not Active' }}
      </div>
    </div>
    <div class="device-info">
      <div class="icon"><img src="/assets/icons/mac-address.svg" /></div>
      <div class="info"> Mac Address: </div>
      <div class="info-value ">{{device.macAddress}}</div>
    </div>
    <div class="device-info">
      <div class="icon"><img src="/assets/icons/device-type.svg" /></div>
      <div class="info"> Device type: </div>
      <div class="info-value"> {{device.deviceType}}</div>
    </div>
  </div>-->
</div>

<!----GROUP DEVICE POPUP-->
<!-- ADD GROUP DEVICES POPUP-->
<dx-popup [width]="950" [height]="660" [showTitle]="true" [title]="'devices.add_new_group' | translate" [dragEnabled]="true"
  [hideOnOutsideClick]="false" [showCloseButton]="true" [(visible)]="groupDevice_popupVisible">
  <div class="form-group w-100 mb-3 px-2">
    <label for="groupName">{{ 'access_groups.group_name' | translate }}</label>
    <input type="text" class="form-control" [(ngModel)]="groupName" [placeholder]="'devices.enter_group_name' | translate" />
    <div *ngIf="formSubmitted && !groupName" class="text-danger">
      {{ 'validation.required' | translate }}
    </div>
  </div>

  <div class="form-group w-100 mb-3 px-2">
    <label for="site">{{ 'devices.site' | translate }}</label>
    <select id="site" class="form-control" [(ngModel)]="selectedSiteId" name="siteId" required>
      <option *ngFor="let site of sites" [value]="site.id">{{ site.name }}</option>
    </select>
    <div *ngIf="formSubmitted && !selectedSiteId" class="text-danger">
      {{ 'validation.required' | translate }}
    </div>
  </div>

  <div class="form-group w-100 mb-3 px-2">
    <label for="schedule">{{ 'devices.schedule' | translate }}</label>
    <select id="schedule" class="form-control" [(ngModel)]="selectedScheduleId" name="scheduleId" required>
      <option *ngFor="let schedule of schedules" [value]="schedule.id">{{ schedule.name }}</option>
    </select>
    <div *ngIf="formSubmitted && !selectedScheduleId" class="text-danger">
      {{ 'devices.schedule_required' | translate }}
    </div>
  </div>

  <div class="row m-auto">
    <ng-container *ngFor="let device of devicesList">
      <div [ngClass]="{'selected-card': selectedDevices.includes(device)}" (click)="toggleDeviceSelection(device)"
        class="col-lg-3 col-md-5 col-sm-4 col-12 col-xs-12 mx-lg-3 mx-md-2 mx-sm-1 mb-3 device-card">
        <div class="card-header">
          <img [src]="device.imagePath || '/assets/images/device.png'" alt="Device Image" />
          <span class="device-name">{{device.name}}</span>
        </div>
        <div class="device-info">
          <div class="icon"><img src="/assets/icons/status.svg" /></div>
          <div class="info"> {{ 'devices.status' | translate }}: </div>
          <div class="info-value" [ngClass]="device.active ? 'active' : 'inactive'">
            {{ device.active ? ('devices.active' | translate) : ('devices.not_active' | translate) }}
          </div>
        </div>
        <div class="device-info">
          <div class="icon"><img src="/assets/icons/mac-address.svg" /></div>
          <div class="info"> {{ 'devices.mac_address' | translate }}: </div>
          <div class="info-value ">{{device.macAddress}}</div>
        </div>
        <div class="device-info">
          <div class="icon"><img src="/assets/icons/device-type.svg" /></div>
          <div class="info"> {{ 'devices.device_type' | translate }}: </div>
          <div class="info-value"> {{device.deviceTypeName}}</div>
        </div>
      </div>
    </ng-container>
    <div class="text-center mt-4">
      <dx-button [text]="'devices.submit' | translate" type="success" (onClick)="submit()" [disabled]="selectedDevices.length === 0">
      </dx-button>
    </div>
  </div>
</dx-popup>

<!------------------------If userRole == 1   Admin--------------->
<!--PAGE HEADER IF ADMIN-->
<div class="page-header">
  <div class="page-header-content">
    <dx-drop-down-button [text]="'common.sort_by' | translate" [dropDownOptions]="{ width: 180 }" [items]="sortBy"
                         (onItemClick)="onDevicesItemClick($event)">
    </dx-drop-down-button>
    <dx-button class="button-info me-1" [text]="'devices.add_device' | translate" (onClick)="showAddDevicePopup()">
    </dx-button>
  </div>
</div>

<!-- ADD DEVICE POPUP-->
<dx-popup [width]="600" [height]="500" [showTitle]="true" [title]="'devices.add_new' | translate" [dragEnabled]="true"
  [hideOnOutsideClick]="true" [showCloseButton]="true" [(visible)]="popupVisible" (onHiding)="onPopupHidden()">
  
  <!-- File Upload Section -->
  <div class="image-upload-wrapper" style="margin-bottom: 20px;">
    <dx-file-uploader 
      [value]="fileUploaderValue"
      [selectButtonText]="'devices.choose_file' | translate" 
      [labelText]="''" 
      accept="image/*" 
      uploadMode="useForm"
      (onValueChanged)="onImageChange($event)">
    </dx-file-uploader>

    <img *ngIf="deviceData.deviceImageUrl" [src]="deviceData.deviceImageUrl" [alt]="'devices.device_preview' | translate"
      class="thumbnail" />
    <div *ngIf="imageValidationError" class="validation-message">
      {{ imageValidationError }}
    </div>
  </div>

  <dx-form [formData]="deviceData" [colCount]="1" [labelLocation]="'top'">

    <dxi-item dataField="deviceName" [editorOptions]="{ placeholder: 'devices.device_name_placeholder' | translate }">
      <dxi-validation-rule type="required" [message]="'devices.device_name_required' | translate">
      </dxi-validation-rule>
      <dxo-label [visible]="false"> </dxo-label>
    </dxi-item>

    <dxi-item dataField="serial" [editorOptions]="{ placeholder: 'devices.serial_placeholder' | translate }">
      <dxi-validation-rule type="required" [message]="'devices.serial_required' | translate">
      </dxi-validation-rule>
      <dxo-label [visible]="false"> </dxo-label>
    </dxi-item>

    <dxi-item dataField="macAddress" [editorOptions]="{ placeholder: 'devices.mac_address_placeholder' | translate }">
      <dxi-validation-rule type="required" [message]="'devices.mac_address_required' | translate">
      </dxi-validation-rule>
      <dxi-validation-rule type="pattern" [pattern]="macAddressPattern"
        [message]="'devices.mac_address_format' | translate">
      </dxi-validation-rule>
      <dxo-label [visible]="false"> </dxo-label>
    </dxi-item>

    <dxi-item dataField="siteId" editorType="dxSelectBox" [editorOptions]="{
          dataSource: sites,
          placeholder: 'devices.site_placeholder' | translate,
          valueExpr: 'id',
          displayExpr: 'name'
        }">
      <dxo-label [text]="'devices.site' | translate"></dxo-label>
      <dxi-validation-rule type="required" [message]="'devices.site_required' | translate"></dxi-validation-rule>
      <dxo-label [visible]="false"> </dxo-label>
    </dxi-item>

    <dxi-item dataField="deviceType" editorType="dxSelectBox" [editorOptions]="{
         dataSource: deviceTypes,
         placeholder: 'devices.device_type_placeholder' | translate,
         valueExpr: 'id',
         displayExpr: 'name'
       }">
      <dxi-validation-rule type="required" [message]="'devices.device_type_required' | translate"></dxi-validation-rule>
      <dxo-label [visible]="false"> </dxo-label>
    </dxi-item>

  </dx-form>
  <dxi-item itemType="button">
    <dx-button [text]="'devices.add_device' | translate" type="success" (onClick)="submitDevice()"></dx-button>
  </dxi-item>

</dx-popup>

<!--ALL DEVICES-->
<div class="devices-container">
  <div class="devices-grid">
    <div class="device-card" *ngFor="let device of devicesList">
      <div class="card-header">
        <img [src]="device.imagePath || '/assets/images/device.png'" alt="Device Image" (click)="navigateToDetailsPage(device.id)" />
        <span class="device-name" (click)="navigateToDetailsPage(device.id)">{{device.name}}</span>
      </div>
      <div class="device-info">
        <div class="icon"><img src="/assets/icons/status.svg" /></div>
        <div class="info"> {{ 'devices.status' | translate }}: </div>
        <div class="info-value" [ngClass]="device.active ? 'active' : 'inactive'">
          {{ device.active ? ('devices.active' | translate) : ('devices.not_active' | translate) }}
        </div>
      </div>
      <div class="device-info">
        <div class="icon"><img src="/assets/icons/mac-address.svg" /></div>
        <div class="info"> {{ 'devices.mac_address' | translate }}: </div>
        <div class="info-value">{{device.macAddress}}</div>
      </div>
      <div class="device-info">
        <div class="icon"><img src="/assets/icons/device-type.svg" /></div>
        <div class="info"> {{ 'devices.device_type' | translate }}: </div>
        <div class="info-value">{{device.deviceTypeName}}</div>
      </div>
    </div>
  </div>
</div>
