<div class="breadcrumb mb-5">
  <div class="page-title">
    <img src="/assets/icons/back-arrow.svg" alt="Back Button" />
    <h4>Acsess Groups <span class="list-length">({{accessGroupsList?.length}})</span></h4>
  </div>
  <span>Review all Access groups details and information</span>
</div>

<div class="grid-section mt-4 bg-white">

  <dx-data-grid id="gridContainer" [dataSource]="accessGroupsList" [remoteOperations]="false"
    [allowColumnReordering]="true" [rowAlternationEnabled]="false" [showBorders]="false" [width]="'100%'"
    (onRowInserting)="submit($event)">
    <dxo-paging [enabled]="true"></dxo-paging>
    <dxo-editing mode="popup" [allowUpdating]="true" [allowAdding]="true" [allowDeleting]="true" [useIcons]="true">
      <dxo-popup [width]="600" [height]="420" [dragEnabled]="true" [hideOnOutsideClick]="false" [showCloseButton]="true"
        title="Add New Access Group" [showTitle]="true">
      </dxo-popup>

      <dxo-form [labelLocation]="'top'" [colCount]="1">
        <dxi-item dataField="name">
          <dxi-validation-rule type="required" message="Access Group Name is required"></dxi-validation-rule>
        </dxi-item>

        <dxi-item dataField="siteId" editorType="dxSelectBox" [editorOptions]="{
          dataSource: sites,
          placeholder: 'Site',
          valueExpr: 'id',
          displayExpr: 'name'
        }">
          <dxo-label text="Site"></dxo-label>
          <dxi-validation-rule type="required" message="Site is required"></dxi-validation-rule>
        </dxi-item>

        <dxi-item dataField="scheduleId" editorType="dxSelectBox" [editorOptions]="{
          dataSource: schedules,
          placeholder: 'Schedule',
          valueExpr: 'id',
          displayExpr: 'name'
        }">
          <dxo-label text="Schedule"></dxo-label>
          <dxi-validation-rule type="required" message="Schedule is required"></dxi-validation-rule>
        </dxi-item>

        <dxi-item dataField="devices" editorType="dxTagBox" [editorOptions]="{
          dataSource: devicesList,
          placeholder: 'Select devices',
          valueExpr: 'id',
          displayExpr: 'name',
          showSelectionControls: true,
          searchEnabled: true
        }">
          <dxi-validation-rule type="required" message="At least one device is required"></dxi-validation-rule>
        </dxi-item>
      </dxo-form>
    </dxo-editing>

    <dxi-item itemType="button">
      <dx-button text="Add Device" type="success" (onClick)="submit($event)"></dx-button>
    </dxi-item>

    <dxi-column dataField="name" caption="Access Group Name" cellTemplate="GroupNameTemplate"></dxi-column>
    <dxi-column dataField="siteId" [visible]="false"></dxi-column>
    <dxi-column dataField="scheduleId" [visible]="false"></dxi-column>
    <dxo-label text="Devices" [visible]="false"></dxo-label>

    <div *dxTemplate="let data of 'GroupNameTemplate'">
      <span (click)="goToAccessGroupDevices(data.data)">{{data.data.name}}</span>

    </div>
  </dx-data-grid>
</div>