<div class="breadcrumb mb-5">
  <div class="page-title">
    <img src="/assets/icons/back-arrow.svg" alt="Back Button" />
    <h4>Acsess Groups <span class="list-length">({{accessGroupsList.length}})</span></h4>
  </div>
  <span>Review all Access groups details and information</span>
</div>



<div class="grid-section mt-4 bg-white">

  <dx-data-grid id="gridContainer"
                [dataSource]="accessGroupsList"
                [remoteOperations]="false"
                [allowColumnReordering]="true"
                [rowAlternationEnabled]="false"
                [showBorders]="false"
                [width]="'100%'">
    <dxo-paging [enabled]="true"></dxo-paging>
    <dxo-editing mode="popup"
                 [allowUpdating]="true"
                 [allowAdding]="true"
                 [allowDeleting]="true"
                 [useIcons]="true">
      <dxo-popup [width]="600" [height]="420" [dragEnabled]="true" [hideOnOutsideClick]="false" [showCloseButton]="true">

      </dxo-popup>

      <dx-form [formData]="deviceData" [colCount]="1" [labelLocation]="'top'">

          <dxi-item dataField="name" caption="Access Group Name">
            <dxi-validation-rule type="required" message="Access Group Name is required">
            </dxi-validation-rule>
          </dxi-item>
          <dxi-item dataField="selectedDevices" editorType="dxTagBox" [editorOptions]="{
      dataSource: devicesList,
      placeholder: 'Select devices',
      valueExpr: 'id',
      displayExpr: 'name',
      itemTemplate: 'deviceTemplate',
      showSelectionControls: true,
      searchEnabled: true
    }">
         <dxi-validation-rule type="required" message="At least one device is required"></dxi-validation-rule>
         <dxo-label text="Devices" [visible]="true"></dxo-label>
       </dxi-item>
           Device Template for showing image + name 
          <div *dxTemplate="let data of 'deviceTemplate'">
      <div class="device-item">
        <img [src]="data.imagePath" alt="Device image" width="30" height="30" style="margin-right: 8px;" />
        <span>{{data.name}}</span>
      </div>
    </div>
      </dx-form>
    </dxo-editing>
    <dxi-item itemType="button">
      <dx-button text="Add Device" type="success" (onClick)="submitDevice()"></dx-button>
    </dxi-item>
    <dxi-column dataField="name" caption="Access Group Name"></dxi-column>
    <dxi-column dataField="devicesNumber" caption="Devices Number"></dxi-column>
  </dx-data-grid>
</div>
