<div class="breadcrumb mb-5">
  <div class="page-title">
    <app-back-button 
      [direction]="direction" 
      [marginLeft]="14"
      (backClick)="goBack()">
    </app-back-button>
    <h4>
      <span *ngIf="isFilteredByGroup">{{ 'owners.assigned_owners' | translate }} - {{ groupName }}</span>
      <span *ngIf="!isFilteredByGroup">{{ 'owners.title' | translate }}</span>
    </h4>
  </div>
  <span *ngIf="isFilteredByGroup">{{ 'owners.assigned_owners_description' | translate }}</span>
  <span *ngIf="!isFilteredByGroup">{{ 'owners.review_details' | translate }}</span>
</div>
<div class="page-header">
  <dx-drop-down-button [text]="'common.sort_by' | translate" [dropDownOptions]="{ width: 180 }" [items]="sortBy"
                       (onItemClick)="onItemClick($event)"></dx-drop-down-button>
  <dx-button class="button-info me-1" [text]="'owners.add_new' | translate" (onClick)="showAddOwnerPopup()">
  </dx-button>
</div>
<!-- ADD OWNER POPUP -->
<dx-popup [width]="600" [height]="420" [showTitle]="true" [title]="'owners.add_new' | translate" [dragEnabled]="true"
          [hideOnOutsideClick]="true" [showCloseButton]="true" [(visible)]="popupVisible">
  <dx-form [formData]="ownerData" [colCount]="1" [labelLocation]="'top'">
    <dxi-item dataField="userName" [editorOptions]="{ placeholder: 'owners.username' | translate }">
      <dxi-validation-rule type="required" [message]="'validation.required' | translate"></dxi-validation-rule>
      <dxi-validation-rule type="pattern" pattern="^[a-zA-Z0-9_\s]{3,20}$"
                           [message]="'validation.username' | translate">
      </dxi-validation-rule>
      <dxo-label [visible]="false"></dxo-label>
    </dxi-item>

    <dxi-item dataField="email" [editorOptions]="{ placeholder: 'owners.email' | translate }">
      <dxi-validation-rule type="required" [message]="'validation.required' | translate"></dxi-validation-rule>
      <dxi-validation-rule type="pattern" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                           [message]="'validation.email' | translate">
      </dxi-validation-rule>
      <dxo-label [visible]="false"></dxo-label>
    </dxi-item>

    <dxi-item dataField="phoneNumber" [editorOptions]="{ placeholder: 'owners.phone_number' | translate }">
      <dxi-validation-rule type="required" [message]="'validation.required' | translate"></dxi-validation-rule>
      <dxi-validation-rule type="pattern" pattern="^[0-9]{10,15}$" [message]="'validation.phone' | translate">
      </dxi-validation-rule>
      <dxo-label [visible]="false"></dxo-label>
    </dxi-item>

    <dxi-item dataField="password" [editorOptions]="{ placeholder: 'owners.password' | translate, mode: 'password' }">
      <dxi-validation-rule type="required" [message]="'validation.password_required' | translate"></dxi-validation-rule>
      <dxi-validation-rule type="pattern" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^\da-zA-Z]).{8,}$"
                           [message]="'validation.password_format' | translate">
      </dxi-validation-rule>
      <dxo-label [visible]="false"></dxo-label>
    </dxi-item>
    <dxi-item dataField="confirmPassword" [editorOptions]="{ placeholder: 'owners.confirm_password' | translate, mode: 'password' }"
              [validationRules]="[
        { type: 'required', message: 'validation.confirm_password_required' | translate },
        { type: 'compare', comparisonTarget: passwordComparison, message: 'validation.passwords_not_match' | translate }
    ]">
      <dxo-label [visible]="false"></dxo-label>
    </dxi-item>
  </dx-form>
  <dxi-item itemType="button">
    <dx-button [text]="'owners.add_new' | translate" type="success" (onClick)="submitOwner()"></dx-button>
  </dxi-item>
</dx-popup>


<!--ALL OWNERS -->

<div class="row">
  <div class="col-lg-2 col-md-5 col-sm-4 col-12 col-xs-12 subscription-card" *ngFor="let owner of owners">
    <div class="card mb-2">
      <img src="/assets/images/avatar.jpg" alt="Card Image" class="card-image" (click)="navigateToDetailsPage(owner.id)">
      <div class="village-name" (click)="navigateToDetailsPage(owner.id)">{{owner.name}}</div>
    </div>

    <div class="card-info">
      <div class="icon"><img src="/assets/icons/subscription.svg" /></div>
      <div class="info">{{ 'owners.owner_name' | translate }}: </div>
      <div class="info-value"> {{owner.userName }}</div>
    </div>
    <div class="card-info">
      <div class="icon"><img src="/assets/icons/device.svg" /></div>
      <div class="info">{{ 'owners.phone' | translate }}: </div>
      <div class="info-value">{{owner.phoneNumber}}</div>
    </div>

  </div>
</div>
